h1 {
    color: #E67676;
  }
  h2 {
    color: purple;
  }
  .list1 {
    color: violet;
    text-decoration: underline;
  }
  .list2 {
    color: violet;
    text-decoration: underline;
  }
  .list3 {
    color: violet;
    text-decoration: underline;
  }
  .list4 {
    text-decoration: underline;
  }
  